In [2]:
import sqlite3

conn = sqlite3.connect('test.db')

print ("Opened database successfully")

Opened database successfully

In [5]:
import sqlite3

#Connecting to sqlite
conn = sqlite3.connect('test.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Doping EMPLOYEE table if already exists.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

#Creating table as per requirement
sql ='''CREATE TABLE EMPLOYEE(
   FIRST_NAME CHAR(20) NOT NULL,
   LAST_NAME CHAR(20),
   AGE INT,
   SEX CHAR(1),
   INCOME FLOAT
)'''
cursor.execute(sql)
print("Table created successfully........")
sql ='''CREATE TABLE fff(
   FIRST_NAME CHAR(20) NOT NULL,
   LAST_NAME CHAR(20),
   AGE INT,
   SEX CHAR(1),
   INCOME FLOAT
)'''
cursor.execute(sql)



# Commit your changes in the database
conn.commit()

#Closing the connection
conn.close()

Table created successfully........

In [10]:
import pandas as pd
xx=pd.read_csv('new1.csv', header= None).values.tolist()

In [11]:
def load_data(params):  #create function with attribuutes as parameter for the data that we have in csv
    
    conn = sqlite3.connect('test.db')

    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()
    sql  = """ Insert into abc (name,age,salary) values('{0}',{1},{2})
        """.format(params[0],params[1],params[2])
    cursor.execute(sql)

    conn.commit()

    #Closing the connection
    conn.close()

In [12]:
for i in xx:
    load_data(i) # data loaded into this via above function

In [17]:

#Connecting to sqlite
conn = sqlite3.connect('test.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Retrieving data
cursor.execute('''SELECT * from abc, abc b''')
#Fetching 1st row from the table
result = cursor.fetchall();
p=1
for i in result:
    print(p, end='')
    print(i)
    p+=1;

1('dhruv', 12, 5000, 'dhruv', 12, 5000)
2('dhruv', 12, 5000, 'dhruv', 12, 5000)
3('dhruv', 12, 5000, 'dhruv', 12, 5000)
4('dhruv', 12, 5000, 'dhruv', 12, 5000)
5('dhruv', 12, 5000, 'dhruv', 12, 5000)
6('dhruv', 12, 5000, 'dhruv', 12, 5000)
7('dhruv', 12, 5000, 'dhruv', 12, 5000)
8('dhruv', 12, 5000, 'dhruv', 12, 5000)
9('dhruv', 12, 5000, 'dhruv', 12, 5000)
10('dhruv', 12, 5000, 'dhruv', 12, 5000)
11('dhruv', 12, 5000, 'dhruv', 12, 5000)
12('dhruv', 12, 5000, 'dhruv', 12, 5000)
13('dhruv', 12, 5000, 'dhruv', 12, 5000)
14('dhruv', 12, 5000, 'dhruv', 12, 5000)
15('dhruv', 12, 5000, 'dhruv', 12, 5000)
16('dhruv', 12, 5000, 'dhruv', 12, 5000)
17('dhruv', 12, 5000, 'dhruv', 12, 5000)
18('dhruv', 12, 5000, 'dhruv', 12, 5000)
19('dhruv', 12, 5000, 'dhruv', 12, 5000)
20('dhruv', 12, 5000, 'dhruv', 12, 5000)
21('dhruv', 12, 5000, 'dhruv', 12, 5000)
22('dhruv', 12, 5000, 'dhruv', 12, 5000)
23('dhruv', 12, 5000, 'dhruv', 12, 5000)
24('dhruv', 12, 5000, 'dhruv', 12, 5000)
25('dhruv', 12, 5000, 'dhruv', 12, 5000)
26('dhruv', 12, 5000, 'dhruv', 12, 5000)
27('dhruv', 12, 5000, 'dhruv', 12, 5000)
28('dhruv', 12, 5000, 'dhruv', 12, 5000)
29('dhruv', 12, 5000, 'dhruv', 12, 5000)
30('dhruv', 12, 5000, 'dhruv', 12, 5000)
31('dhruv', 12, 5000, 'dhruv', 12, 5000)
32('dhruv', 12, 5000, 'dhruv', 12, 5000)
33('dhruv', 12, 5000, 'dhruv', 12, 5000)
34('dhruv', 12, 5000, 'dhruv', 12, 5000)
35('dhruv', 12, 5000, 'dhruv', 12, 5000)
36('dhruv', 12, 5000, 'dhruv', 12, 5000)